/*main styles------------------------------------------------------------------------*/
body{
    background-color: white;
    color: black;
}

.navbar{
    background-color: #f7f7f7;
}

.navbar-default{
    border-color: white;
}
.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f8f8f8;
    overflow: scroll;
    transition: 0.2s;
    margin-top: 50px;
    width: 16%;
}

#main {
    transition: margin-left .5s;
    /*padding-top: 16px;*/
    margin-left: 16%;
    background-color: white;
    padding: 1em;
}

.panel-default{
    background-color: #f7f7f7;
}

.panel-default > .panel-heading{
    background-color: #b8b8b8;
}

.main-content{
    margin: 40px 20px 20px 20px;
}

.page-title{
    text-align: center;
}
.container{
    width: 100%;
}

#icon{
    font-size:20px;
    cursor:pointer;
    float: left;
    margin-right: 30px;
    margin-top: 12px;
}

.content-leftnav{
    text-align: center;
}

.main-menu{
    margin-top: 20px;
}

.menu{
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
}

.main-menu a{
    font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    display: block;
    padding: 3px 1px 4px 16px;
    background-color: transparent;
    max-height: 40px;
    color: black;
    font-size: 100%;

}
.main-menu a.active{
    background-color: darkgreen;
    color: #ffffff;
    text-decoration: none;
}

.main-menu a:hover{
    background-color: #374d3b;
    color: #ffffff;
    text-decoration: none;
}

.content-leftnav{
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
}

.menu-section{
    border-bottom: 1px solid #e2e2e2;
}

.list-name{
    margin-left: 20px;
}

#slider-range{
    margin-bottom: 10px;
    margin-top: 20px;
    width: 90%;
    margin-left: 15px;
}

#price-range{
    margin-left: 10px ;
    margin-bottom: 10px;
    font-size: 10px;
    text-align: center;
}

.filter-types p{
    text-align: center;
    text-decoration: underline;
    font-size: 15px;
    display: block;
}

.dropdown{
    text-align: center;
}

.search-input {
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: white;
    font-size: 16px;
    margin-left: 1px;
}


/*tagging------------------------------------------------------------------------*/

#tags span.tag{
    cursor:pointer;
    float:left;
    color:#555;
    background-color:#e7e9e7cc;
    padding:1px 30px 1px 3px;
    border-radius:4px;
    border:1px solid;
    margin:4px;
}
#tags span.tag:hover{
    opacity:0.7;
}
#tags span.tag:after{
    position:absolute;
    content:"X";
    border:1px solid;
    border-radius:10px;
    padding:0 4px;
    margin:3px 0 10px 7px;
    font-size:10px;
}
#tags input{
    border-radius: 6px;
    margin-left: 2px;
}

/*search menus------------------------------------------------------------------------*/

.search-button a{
    font-family: "Segoe UI",Arial,sans-serif;
    text-decoration: none;
    display: block;
    padding: 3px 1px 4px 16px;
    background-color: #e7e9e7cc;
    max-height: 40px;
    color: black;
    font-size: 100%;
    margin-top: 10px;

}

.search-button a:hover{
    background-color: #374d3b;
    color: #ffffff;
    text-decoration: none;
}

/*sidebar types align------------------------------------------------------------------------*/

.sidebar-types{
    margin-left: 15px;
}



/*element of product------------------------------------------------------------------------*/

.element-outline{
    padding: 20px;
}

.element-outline .product{
    text-align: center;
    margin-bottom: 10px;
}

.element-outline .product .image{
    background-color: #f7f7f7;
    width: 100%;
    height: 150px;
    padding-top: 4px;
    padding-bottom: 30px;
    border: 2px solid #b8b8b8;
    border-right: 1px solid #b8b8b8;
    border-left: 1px solid #b8b8b8;
    border-radius: 8px;
    text-align: center;
}
.element-outline .product .image:hover{
    background-color: rgba(203, 164, 248, 0.22);
}

.product-image{
    border-radius: 4px;
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}


.element-outline .product .product-type{
    color: black;
    border-radius: 4px;
}

.element-outline .product .product-name{
    padding-left: 15px;
    border-top: 1px solid #b8b8b8;
    border-bottom: 1px solid #b8b8b8;
    text-align: center;
    font-style: italic;
    text-decoration: underline;
    color: black;
    border-radius: 4px;
    font-size: 12px;
    background-color: rgba(184, 184, 184, 0.22);
}

.element-outline .product .product-price{
    font-size: 18px;
    font-weight: bold;
    color: #000000;
    border-radius: 6px;
    border-top: dotted 1px;
    border-color: #e2e2e2;
}

.cart-btn-area{
    margin-bottom: 10px
}
.cart-btn {
    font-size: 11px;
    color: white;
    border-radius: 4px;
    background-color: #006401;
    border-color: #006401;

}

.cart-btn:hover {
    color: white;
    background-color: #006401;
    text-decoration: none;
}

.responsive .slick-prev{
    background-color: #0e423b;
    height: 30px;
    width: 23px;
    border-radius: 10px;
}
.responsive .slick-next{
    background-color: #0e423b;
    height: 30px;
    width: 23px;
    border-radius: 10px;
}
.responsive .slick-prev:hover{
    background-color: #006401;
}
.responsive .slick-next:hover{
    background-color: #006401;
}

.subcriber-name{
    text-align: center;
    color: #2b2d5a;
}

.page-heading{
    font-size: 20px;
    margin-left: 20px;
    text-align: left;
    /*font-weight: bold;*/
}

.cart-button{
    margin-right: 10%;
}



.outer-btn
{
    width:100%;
    text-align: center;
}
.inner-btn
{
    display: inline-block;
}

#clear-cart{
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    background-color: #0e423b;
}

.cart-top {
    border-bottom: solid 1px;
    border-color: #b7b7b7;
}
.cart-bottom {
    border-top: solid 1px;
    border-color: #b7b7b7;
}


.show-cart{
    margin-top: 10px;
    margin-bottom: 10px;
}

.show-cart i{
    font-size: 17px;
}

.cart-product-name{

    float: left;
    padding-left: 1px;
}

.cart-product-quantity,{
    text-align: center;
}

.cart-product-price, .cart-product-total{
    text-align: right;
}

.cart-product-name , .cart-product-price, .cart-product-quantity, .cart-product-total{
    margin-bottom: 15px;
}


.item-count{
    border-radius: 10px;
}

.plus-item, .subtract-item, .cart-product-delete{
    border-radius: 10px;
}

.cart-shipping-value{
    border-bottom: solid 1px;
    border-color: #b7b7b7;
}

.cart-total-value{
    border-bottom: double 1px;
    border-color: #b7b7b7;
}

.limit {
    color: black;
    /*text-align: center;*/
    display: block;
    width: 200px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*checkbox styles-------------------------------------------------------------------------- */
.shipping-checkbox {
    display: block;
    position: relative;
    padding-left: 45px;
    /*margin-bottom: 12px;*/
    cursor: pointer;
    /*font-size: 22px;*/
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    padding-top: 6px;
}

/* Hide the browser's default checkbox */
.shipping-checkbox input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    margin-top: 5px;
    margin-left: 3px;
}

/* On mouse-over, add a grey background color */
.shipping-checkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.shipping-checkbox input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.shipping-checkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.shipping-checkbox .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.country-select{
    width: 100%;
}


.search-btn{
    color: white;
    background-color: #374d3b;
    border-color: #374d3b;
    border-radius: 3px;
}